Options +FollowSymLinks
RewriteEngine On

# Permitir acceso a imágenes
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Allow from all
</FilesMatch>

# Denegar acceso a otros tipos de archivos por seguridad
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Deny from all
</FilesMatch>